.katex-display {
  overflow: auto hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.katex-display::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.katex-display::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.5);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

.katex-display::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.5rem;
}
