.flat-scrollbar-normal::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.flat-scrollbar-normal::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217, 217, 227, 0.5);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

.flat-scrollbar-normal::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
